.music-container {
    display: none;
    color: #fff;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    margin: 140px 330px;
    gap: 16px;
}

.music-container.show {
    display: flex;
}

.left-box.animate {
    animation:  expandBox 1s ease forwards,
                closeBox 1s ease 14.5s forwards;
}

.left-box div.animate {
    animation:  expandContent 1s ease 1s forwards,
                closeContent 0.5s ease 14.2s forwards;
}

.main-content.animate {
    animation:  op0-to-op1 0.1s ease 2.4s forwards,
                slideIn 1s ease 2.5s forwards,
                slideOut 0.75s ease 13.2s forwards,
                op1-to-op0 0.1s ease 13.95s forwards;
}

.titles.animate {
    animation:  op0-to-op1 0.5s ease 2.65s forwards,
                op1-to-op0 0.5s ease 13s forwards;
}

#icon {
    animation:  op0-to-op1 0.1s ease 0.5s forwards,
                op1-to-op0 0.25s ease 4.25s forwards,
                op0-to-op1 0.25s ease 10.2s forwards;
}

#cover {
    animation:  op0-to-op1 0.25s ease 4.5s forwards,
                closeContent 0.5s ease 14.2s forwards,
                op1-to-op0 0.25s ease 9.9s forwards;
}

.content {
    display: flex;
    align-items: center;
    width: 100%;
}

.left-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
}

.left-box > div {
    position: absolute;
    opacity: 0;
    border: 2px solid #ccc;
    background-color: rgb(0, 0, 0, 0.5);
    width: 100px;
    height: 100px;
}

#cover, #icon {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

#cover img {
    width: calc(100% - 10px);
    max-width: calc(100% - 10px);
    padding: 5px;
    border-radius: 15px;
    height: calc(100% - 10px);
    max-height: calc(100% - 10px);
    object-fit: cover;
}

.left-box svg {
    opacity: 1;
    margin: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
}

.main-content {
    flex: 1;
    opacity: 0;
    height: 100px;
    border: 2px solid #ccc;
    background-color: rgb(0, 0, 0, 0.5);
    overflow: hidden;
    width: 0px;
}

.titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    opacity: 0;
}

#title, #subtitle {
    text-transform: uppercase;
    width: 100%;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
}

#title {
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.8px;
}

#subtitle {
    font-size: 30px;
    font-weight: 400;
    opacity: 0.85;
}

@keyframes slideIn {
    from {
        width: 0;
    }
    to {
        width: 900px;
    }
}

@keyframes slideOut {
    from {
        width: 900px;
    }
    to {
        width: 0;
    }
    
}

@keyframes expandBox {
    from {
        width: 0;
    }
    to {
        width: 100px;
    }
}

@keyframes expandContent {
    from {
        opacity: 0;
        height: 0;
        width: 0;
    }
    to {
        opacity: 1;
        height: 100px;
        width: 100px;
    }
}

@keyframes closeContent {
    from {
        opacity: 1;
        height: 100px;
        width: 100px;
    }
    to {
        opacity: 0;
        height: 0;
        width: 0;
    }
}

@keyframes op0-to-op1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes op1-to-op0 {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes scaleUp {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}