.header-frame {
	font-family: "National Park", sans-serif;
	font-weight: 200 !important;
	margin: 0 auto;
	max-width: 1010px;
	width: 100%;
}

.header {
	align-items: center;
	background-color: #f8f8f8;
	border: 1px solid #aeaeae;
	border-radius: 10px;
	display: flex;
	font-size: 25px;
	justify-content: space-between;
	margin: 5px;
	max-width: 1010px;
	padding: 10px 20px;
}

.white {
	color: #fff;
}

.header-left {
	display: flex;
	align-items: center;
}

.header-image {
	border-radius: 5px;
	height: auto;
	margin-right: 10px;
	width: 50px;
}

.header-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.header-nav li {
	margin: 0 15px;
}

.header-nav a {
	text-decoration: none;
	color: #333;
}

.header-right {
	display: flex;
	align-items: center;
	/* Non selectable text */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.symbol {
	cursor: pointer;
	font-size: 20px;
	height: 50px;
	margin-left: 7.5px;
	margin-right: 7.5px;
}

#changetolightmode {
	display: none;
}

.mobile-hr {
	background-color: #949494;
	display: none;
	height: 0.5px;
	width: 100%;
}

@media (max-width: 650px) {
	.header {
		flex-direction: column;
		align-items: flex-start;
		font-size: 20px;
	}

	.header-left,
	.header-nav,
	.header-right {
		height: 50px;
		justify-content: center;
		margin: 10px 0;
		width: 100%;
	}

	.mobile-hr {
		display: block;
	}

	.header-nav ul {
		margin-bottom: 13.4px;
		margin-top: 13.4px;
		justify-content: center;
	}
}